/* Style for Sidebar Links */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  background: #f2f4f7;
  font-family: 'Inter', serif;
}
.container-fluid {
  max-width: 1000px;
  margin: 0 auto;
}
.navbar {
  position: sticky;
  top: 0px; /* Keeps it stuck at the top of the viewport */
  z-index: 1000; /* Keeps it above the content */ /* Ensures it takes up the full height of the screen */
  overflow-y: auto;
  color: #000;
}

.sidebar {
  position: sticky;
  top: 80px; /* Keeps it stuck at the top of the viewport */
  z-index: 800; /* Keeps it above the content */
  max-height: 80vh; /* Ensures it takes up the full height of the screen */
  height: 90vh; /* Ensures it takes up the full height of the screen */
  overflow-y: scroll; /* Allows scrolling inside the sidebar if content overflows */
}

.sidebar .nav-link {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  color: #333;
}

.sidebar .nav-link:hover {
  background-color: #f8f9fa;
  color: #000;
}
.nav-link-2 {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  color: #333;
  font-weight: 500 !important;
  text-decoration: none !important;
}

.nav-link-2:hover {
  background-color: #f8f9fa;
  color: #000;
}

/* Code Block Styling */
pre code {
  font-size: 0.95rem;
  font-family: 'Courier New', monospace;
}

/* Main Content Styling */
main h1,
main h2,
main h3 {
  margin-bottom: 1rem;
}

main p {
  font-size: 18px;
  line-height: 1.6;
}

.accordion {
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
}

.accordion button i {
  color: #007bff;
  margin-right: 14px;
  font-size: 16px;
}
.accordion .accordion-body .nav-link i {
  color: #007bff;
  margin-right: 14px;
  font-size: 16px;
}
.accordion-button:focus,
.accordion-button:hover {
  outline: none !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
/* Hide the default accordion arrow */
.accordion-button::after {
  display: none;
}

/* Styling for the button when collapsed */
.accordion-button {
  font-weight: 600;
  font-size: 16px;
  color: #111111; /* Default text color */
  border-right: 3px solid transparent; /* Default border */
  transition: all 0.3s ease; /* Smooth transition */
  text-transform: capitalize;
}

/* Styling for the button when expanded */
.accordion-button:not(.collapsed) {
  border-right: 3px solid #007bff; /* Blue right border */
  background-color: transparent; /* Keep the background transparent */
  transition: all 0.3s ease; /* Smooth transition */
  background-color: #007bff5d;
}

.content-container {
  margin-bottom: 200px;
}

.vedio-section,
.image-section {
  border-radius: 6px;
}
.vedio-section iframe {
  border-radius: 6px;
}

.image-section img {
  border-radius: 6px;
  width: 100%;
  height: auto;
}
.content-container li {
  padding-top: 20px;
}
.code-main {
  background: #2e3440ff;
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
  padding-bottom: 12px;
}
.code-main .code {
  margin-top: 20px;
  padding-left: 16px;
}

.code-main code {
  text-align: left !important;
  color: #ffffff;
  font-weight: 500 !important;
}

.link-active {
  color: #007bff !important;
  font-weight: 600;
}
.custom-link-hash {
  text-decoration: none;
  font-weight: 600;
}
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
}

.whatsapp-btn img {
  width: 32px;
  height: 32px;
}
